div.articles_holder{
    align-items: center;
    overflow: hidden;
}

div.articles_holder div:nth-child(2){
    height: 261px;
    width: 4px;
    background: #137893;
    margin: 0 71px;
}

.days_image{
    width: 446px;
    height: 228px;
    border-radius: 10px;
    margin-top: 10px;
    transition: background-image linear 0.5s;
    object-fit: cover;
}

p.day{
    background: #137893;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    font-size: 2.4rem;
    color: #F1EFE6;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

article {
    align-items: end;
    padding: 37px;
    font-size: 1.6rem;
    text-align: left;
}

article hr{
    transform: rotate(90deg);
    align-self: center;    
    height: 4px;
    width: 100%;
    background: #137893;
}

article div:first-child p {
    width: 446px;
    padding: 0 60px;
    font-size: 1.6rem;
}

article div:first-child p:first-child {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

article div:first-child p:last-child {
    margin: 20px 0;    
}

.main_img {
    position: relative;
}

#program {
    background-position: center;
    background-image: linear-gradient( rgba(241, 234, 234, 0.5),  rgba(241, 234, 234, 0.5) ), url(../images/body_mountains.png);
    position: relative;
    background-size: cover;
    padding: 60px;
    text-align: center;
    height: 2900px;
}

.reservation_button_container {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
}