.cover-div {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100; 
  width: 100%; 
  height: 100%; 
  background-color:rgba(0, 0, 0, 0.8);  
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#review-form {
  position: relative; 
  background: #fff; 
  max-width: fit-content;; 
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.lastname_margin {
  margin-left: 10px;
}

#review-form div {
  text-align: left;
}

#review-form div input,  
#review-form div textarea {
  color: #000000;
  font-size: 1.8rem;
  padding: 0 10px;
  border-radius: 10px;
  border: 3px solid #137893;  
  background: rgb(232, 240, 254);
}

#review-form div input::placeholder,
#review-form div textarea::placeholder {
  color: #919191;
}

#review-form div input {
  height: 40px;
}

#review-form div textarea {
  height: 70px;
}

#review-form #input_img{
  border: none;
  background: #fff;
}

#review-form div label {
  font-size: 2rem;
  color: #137893;;
  margin: 10px 4px 6px;
}

#review-form img {
  width: 213px;
  height: 88px;
  border-radius: 0;
}

.required {
  color: red;
}

#review-form .send_review {
  width: 70%;
  margin: 10px auto;
  border-radius: 10px;
  border: 3px solid #ce4da2;
  background: #ce4da2;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  transition: background linear 0.2s;
}

#review-form .send_review:hover {
  background: transparent;
  color: #ce4da2;
}

#close_review_modal {
  color:  #137893;
  position: absolute;
  right: 24px;
  font-size: 2rem;
  transition: color linear 0.2s;
}

#close_review_modal:hover {
  color: #ce4da2;
}

#symbols-left {
  font-size: 1.6rem;
  color: #919191;
  text-align: right;
  margin: 5px 5px 0;
}

#review-form #img_container {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  border-radius: 50%;
  background-position: center;
}